.login-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */

  .wrapper1 {
    max-width: 40%;
    background-color: #db1e32;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
    text-align: center;
    
    h1 {
      font-size: 50px;
    }

    p {
      color: #eee;
      font-style: italic;
      
      span {
        font-style: italic;
      }
    }
  }

  .wrapper2 {
    max-width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;

    .errorContainer {
      display: flex;
      justify-content: center;

      .errorText {
        color: red;
        font-size: 14px;
      }
    }

    h1 {
      color: #db1e32;
      font-size: 60px;
    }

    .registerContainer {
      p {
        a {
          color: #db1e32;
          font-weight: 500;
          transition: 0.2s ease-in-out 0s;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }

    .inputContainer {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .errorLabel {
        color: red;
        font-size: 12px;
      }

      .inputBox {
        width: 100%; /* Full width for smaller screens */
        height: 48px;
        font-size: large;
        border-radius: 8px;
        border: 1px solid grey;
        padding-left: 8px;
      }

      .inputButton {
        font-size: 14px;
        padding: 12px 32px;
        border: 1px solid rgb(219, 30, 50);
        border-radius: 4px;
        transition: all 0.4s ease-in-out 0s;
        background-color: rgb(219, 30, 50);
        color: rgb(255, 255, 255);
        cursor: pointer;
        font-weight: 300;
        text-transform: uppercase;

        &:hover {
          border: 1.5px solid #db1e32;
          background-color: white;
          color: #db1e32;
          font-weight: 300;
        }
      }
    }
  }
}

/* Media query for screens with a maximum width of 730px */
@media (max-width: 730px) {
  .login-container {
    display: flex;
    flex-direction: column;
  
  
  .wrapper1 {
    max-width: 100%;
    height: max-content;
    
    h1 {
      max-width: 100%;
    }

  }
  
  .wrapper2 {
    max-width: 100%; 
  }
}
}